# 只发布 dist 目录，其余全部忽略
src/
tsconfig.json
bun.lockb
node_modules/
.idea/
.DS_Store
*.log
*.tsbuildinfo
coverage/
.git/
__tests__/
utils/
base/
types/
README.md
docs/
# 保留 dist 目录
!dist/
